.book {
justify-self: center;
text-decoration: none;
border-radius: 20px;
}

.book_page {
margin: 5% 0;
padding: 2%;
} 

.book:hover {
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 16%);
}

.book:hover .book__name {
    color: #F28D5F;
}

.book:hover .book__author {
    color: #000000;
}

.book:hover .book__cover {
    filter: brightness(50%);
}

.book__cover {
    border-radius: 20px;
    width: 100%;
}

.book__text {
    text-align: center;
}

.book__name {
    color: #000000;
    font-weight: 600;
}

.book__author {
   color: #00000080;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
}


/*-----------------------------------------------------------------*/


.main__card {
    display: flex;
    width: 927px;
    justify-content: space-between;
    margin-bottom: 80px;
}

.main__card_img img {
    width: 197px;
    height: 306px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.main__card_img p {
    text-align: center;
    color: #000000;
}

.main__card_heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
}

.main__card_text-top {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.main__card_text-bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.7);
    margin: 19px 0 28px 0;
    max-height: 170px;
    overflow-y: scroll;
}

.main__card_wrapper {
    width: 682px;
}

.main__card_wrapper a {
    background: rgba(255, 61, 0, 0.3);
    border-radius: 50px;
    width: 153px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
}