.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10em, 15%), 1fr));
    /* с row-gap обрезается высота */
    /* row-gap: 2%; */
    justify-self: center;
    column-gap: 5%;

}

.bookItem {
    width: 10em;
    justify-self: center;
    border-radius: 20px;
    text-decoration: none;
}

.bookItem:hover {
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 16%);
    /* background-color: #000000; */
}

.bookItem:hover .book__name {
    color: #F28D5F;
}

.bookItem:hover .book__author {
    color: #000000;
}

.bookItem:hover .book__cover {
    filter: brightness(50%);
}

.book__cover {
    width: 100%;
    border-radius: 20px;
}

.book__text {
    text-align: center;
}

.book__name {
    color: #000000;
    font-weight: 600;
}

.book__author {
   color: #00000080;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
}


/*---------------------------------------------------------------------*/


.center {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
}

.main {

}

.main__heading {
    margin-bottom: 32px;
}

.main__row {
    display: flex;
    justify-content: space-between;
}

.main__left {
    max-width: 927px;
}

.main__right {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__right_heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.main__right_select {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
}

select {
    width: 305px;
    height: 42px;
    box-shadow: 0px 0px 20px rgba(216, 206, 196, 0.2);
    border-radius: 20px;
    border: none;
    padding: 0 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    appearance: none;
    background: url(/public/Images/arrow.png) no-repeat right;
    background-position-x: calc(100% - 24px);
    background-color: #FFFFFF;
}

option {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(216, 206, 196, 0.2);
    border-radius: 20px;
}