* {
    outline-width: 1px;
    outline-style: solid;
    outline-color: gray;
}

.header {

}

.header__nav {
    display: flex;
}

.header__left {
    display: flex;
}

.header__left:before {
    content: "";
    width: 48px;
    height: 48px;
    background-image: url("../../../images/arrow_Back.svg");
}

.header__right {

}